bazel-*/
build/
install/
cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/

py/actionengine/_C/*.pyi

**/.DS_Store/
**/.DS_Store
**/.idea/*
**/__pycache__/
**/node_modules/

third_party/build_deps/*
!third_party/build_deps.sh

**/*.egg-info/

**/*.so
**/*.log
/py/actionengine/_C/
