@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
      border-color: var(--color-gray-200, currentColor);
    }

    input::placeholder,
    textarea::placeholder {
      color: var(--color-gray-400);
    }
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}
